.btn-header{
	padding-bottom: 15px;	
}

.texto-parrafos{
	font-size: 15pt;
    text-align: justify;
}
/*--Slider --*/
.g-pb-70 {
    padding-bottom: 5rem !important;
}
.g-pt-100 {
    padding-top: 7.14286rem !important;
}

.texto_parallax {
    margin: 0 auto;
    color: #fff;
}
.g-bg-cover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.g-bg-black-opacity-0_6--after::after {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.g-bg-cover {
    position: relative;
}
.g-bg-cover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.g-bg-black-opacity-0_3--after::after, .g-bg-black-opacity-0_3--before::before {
    /*background-color: rgba(0, 0, 0, 0.3) !important;*/
}
.g-bg-pos-top-center {
    background-position: top center;
}
.g-bg-img-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ml-auto {
    margin-left: auto!important;
}
.mr-auto {
    margin-right: auto!important;
}
.parallax-gradient::after {
	background-image: -moz-linear-gradient(90deg, rgba(0, 40, 218, 0.3), rgba(0, 40, 218, 0.3) 100%);
	background-image: -webkit-linear-gradient(90deg, rgba(0, 40, 218, 0.3), rgba(0, 40, 218, 0.3) 100%);
	background-image: linear-gradient(90deg, rgba(0, 40, 218, 0.3), rgba(0, 40, 218, 0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#358ef5", endColorstr="#358ef5", GradientType=1);
}
.aliados{
	padding-top: 150px;
	padding-bottom: 150px;
}
.bloque-about{
	padding-top: 95px;
}
.img-flag {
    width: 50px;
    /*margin-top: 30px;*/
    /*margin-top: 25px;*/
    cursor: pointer;
    height: 25px;
}
.bloque-inicial{
    padding-bottom: 35px;
}
.centrado{
    margin: 0 auto;
    display: flex;
}
.icon-box-title{
    color: #999!important;
    margin: 0 -4px 0px 0;
    letter-spacing: 2px!important;
    font-size: 28px;
    text-transform: uppercase!important;
    padding: 10px;
}
.icon-box-title h6 {
    font-weight: bold!important;
}
.icon-box-content{
    /*padding: 10px;*/
    text-align: justify;
}
#izquierda, #centro, #derecha{
    cursor: pointer;
}
.icon-box-icon {
    font-size: 38px!important;
    /*font-size: 56px!important;*/
    color: #4a90e2!important;
    /* margin: 0 0 0px; */
    margin-top:5px;
    -webkit-transition: all .4s linear!important;
    transition: all .4s linear!important;
}
.fa-inverse {
    color: #fff;
    background: #4a90e2;
    border-radius: 70px 70px 70px 70px;
}
.fa-inverse {
    color: #fff;
}
.fa-stack-1x {
    line-height: inherit;
}
.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.super_contenedor_redes{
    margin: 0px auto;
    /*padding: 30px;*/
    padding: 30px 0px 30px 0px;
}

.cuerpo_redes{
    padding-bottom: 45px;
    padding-top: 75px;
}

.iconos_redes{
    text-align: center;
}

.iconos_pasos{
    font-size: 25pt;
    cursor: pointer;
    text-align: center;
    float: left;
    margin: 0 auto;
    display: flex;
    /*padding: 3px 5px 5px 0px;*/
}

.color_icono{
    color: #64a8de;
    text-decoration: none;
}

.color_icono2 {
    color: #fff;
    text-decoration: none;
}

.redes_individual{
    color: #64a8de;
}

.redes_individual:hover{
    color: #006c9e;
}

.contenedor_icono_pasos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    float: left;
    margin-bottom: 20px;
} 

.content_video{
  width: 65%;
  height: 550px;
  float: left;
  position: relative;
}

.content_iframe_video{
  width: 100%;
  height: 400px;
  position: absolute;
  top: 28px;
  background: #000;
}

#contenedor_vi{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}

.tituloVideo{
  /*margin-top: 10px;*/
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
}

#subtitulos_videos{
  font-size: 14pt;
  font-weight: bold;
}

#paginacion_consulta,#paginacion_consulta_videos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 350PX;
  padding: 2%;*/
}

.p-bt-35{
    padding-bottom: 75px!important;
}

.titulos-fact{
    letter-spacing: 2px!important;
    font-size: 15px;
    text-transform: uppercase!important;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.titulos-fact-news{
    letter-spacing: 2px!important;
    font-size: 15px;
    text-transform: uppercase!important;
    padding: 0px;
    text-align: left;
    font-weight: bold;
}

.post-title-home {
    font-size: 30px;
    margin: 0 0 15px;
    letter-spacing: 2px!important;
    /* font-size: 15px; */
    text-transform: uppercase!important;
    padding: 0px;
    text-align: left;
    font-weight: bold;
    color: #fff;
}

.scroll-top{
    cursor: pointer;
}

.feature .feature-thumb img {
    width: 100%!important;
    height: 232px;
}

.post-content>:last-child {
    margin-bottom: 0;
    text-align: justify!important;
}

.img-news{
    width: 348px;
    height: 232px;
}

.hide{
    display: none;
}

.mostrar{
    display: block;
}
/*.textwidget{
    padding-top: 30px; 
}*/
.fluid-width-video-wrapper{
    padding-top: 100px!important;
}

h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
    color: #999!important;
}

.mensaje-clientes{
    margin-top: 15px;
}

h1>a:focus, h1>a:hover, h2>a:focus, h2>a:hover, h3>a:focus, h3>a:hover, h4>a:focus, h4>a:hover, h5>a:focus, h5>a:hover, h6>a:focus, h6>a:hover {
    color: #2b2b2b!important;
}

.hide{
    display: none;
}

.post-background .post-header .post-title a {
    color: #fff!important;
}

.post-meta-home, .post-meta-home a {
    color: #fff!important;
}

.post-background {
    position: relative;
    border-radius: 3px;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 40%;
    height: 300px;
}

.widget a {
    color: #4a90e2!important;
}

.footer .h1, .footer .h2, .footer .h3, .footer .h4, .footer .h5, .footer .h6, .footer a, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
    color: #fff!important;
}

.ul-contactos{
    padding-left: 10px;
}

.ul-contactos li a{
    color: #999;
    text-align: left;
}

.ul-contactos li{
    text-align: left;
}

.icono-contactos{
    color:#4a90e2;
}

.icono-contactos:hover{
    color:#14457f;
}

.img-header{
    width:500px!important;
}

.separador{
    font-weight:100 ;
    font-size: 70pt;
    margin-left: 30px
}

.titulo_tufactoring, .subtitulo_tufactoring{
    text-align: right;
}

.subtitulo_tufactoring{
    text-align: center;
    margin-left: 30px;
}

.subtitulo_slide{
    text-align: center;
    margin-left:60px
}

.bloque-subtitulo-tu-factoring{
    display: block;
}

.mobile-title{
    display: none;
}

.subtitulo-menu{
    border-bottom: solid 3px #fff!important;
    padding-bottom: 2px;
}

.subtitulo-menu2{
    border-bottom: solid 3px #0062cc!important;
    padding-bottom: 2px;
}

.boton-nosotros{
    padding-top: 100px;
}

.div_facebook{
    margin: 0 auto;
    display: flex;
}

.btn.btn-white:focus, .btn.btn-white:hover {
    background-color: #4a90e2;
    border-color: #4a90e2;
    color: #fff !important;
    cursor: pointer;
}
.row_redes{
    display: flex;
    margin: 0 auto;
}
.feature-more{
    text-align: center;
}
.pb-35{
    padding-bottom: 35px!important;
}
.como_funciona_ver_peque{
    display: none!important;
}
.como_funciona_ver{
    display: block!important;
}
.servicios-noticias{
    display: block!important;
}
.icono-footer{
    margin-right: 10px!important;
}
.login_registrar{
    display: none!important;
}
.alert-float{
    position: fixed;
    top: 80px;
    left: 900px;
    width: 30%;
    z-index: 9999;
    border-radius: 0px;
}
/*---Bloque de media queries... ----*/
@media(min-width: 310px) and (max-width: 990px){
    .como_funciona_ver_peque{
        display: block!important;
    }
    .como_funciona_ver{
        display: none!important;
    }
    .servicios-noticias{
       display: none!important;
    }
}
@media (min-width: 993px){
  .hidden-lg {
    display: none !important;
  } 
    .tamano_twitter{
        width:300px;
    }
}

@media (max-width: 575px) {
    .hidden-xs {
        display: none !important;
    }
    .tamano_twitter{
        width:300px;
        margin-top: 70px;
    }
    #contactForm {
        width: 100%!important;
    }
    .ocultar_servicios{
        display: none;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .hidden-sm {
        display: none !important;
    }
    .ocultar_servicios{
        display: none;
    }
    .tamano_twitter{
        width:500px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hidden-md {
    display: none !important;
  }
  .tamano_twitter{
    width:200px;
  }
}

@media(max-width: 500px){
    
    .carousel-caption {
        top: 30%!important;
    }
    
    .title_carrousel {
        font-size: 20pt!important;
    }
    
    .super_contenedor_redes{
        margin: 0px auto;
        padding: 0px;
    }

    .img-header{
        width:150px!important;
    }

    .separador{
        display: none
    }

    .titulo_tufactoring{
        font-size:35px;
    }

    .titulo_tufactoring{
       text-align: center!important;
    }

    .subtitulo_slide, .subtitulo_tufactoring{
        font-size: 16px!important;
    }
    
    .subtitulo_slide {
        text-align: center;
        margin-left: 0px;
    }
    
    .subtitulo_tufactoring{
        font-size: 16px!important;
        text-align: center;
        margin-left: 0px;
    }

    .mobile-title{
        display: block;
    }
    
    .bloque-subtitulo-tu-factoring, .subtitulo_slide_grande{
        display: none;
    }

    #parrafos_clientes3, #parrafos_clientes2, #parrafos_clientes1{
        padding:20px;
    }
    
    .content_video {
        height: 200px!important;
    }

    .content_video {
        width: 100%;
        height: 550px;
        float: left;
        position: relative;
    }

    .content_iframe_video {
        width: 100%;
        height: 200px!important;
        position: absolute;
        top: 28px;
        background: #000;
    }

    #reproductor{
        height: 260px!important;
    }

    .video-muestra{
        margin-top: 40px;
    }
    .ul-contactos li {
        text-align: center!important;
    }
    .div-contact-names{
        text-align: center;
    }
    .ul-contactos {
        width: 100%;
    }
    .form-contact{
        text-align: center!important;
    }
    .imagen-footer{
        margin: 0px auto;
        display: flex;
    }
    #texto{
        text-align: center;
    }
    .widget-title{
        text-align: center;
    }
    .feature-thumb img {
        width: 100% !important;
        height: auto!important;
        display: flex;
        margin: 0 auto;
    }
    
}

@media(min-width: 500px){
    .img-news{
        width: 100%!important;
        height: auto!important;
    }
}

@media(min-width: 501px) and (max-width: 767px){
    /*----- Elementos de slider ----*/
     .separador{
        display: none
    }

    .titulo_tufactoring{
        font-size:35px;
    }

    .titulo_tufactoring{
       text-align: center!important;
    }

    .subtitulo_slide, .subtitulo_tufactoring{
        font-size: 16px!important;
    }
    
    .subtitulo_slide {
        text-align: center;
        margin-left: 0px;
    }
    
    .subtitulo_tufactoring{
        font-size: 16px!important;
        text-align: center;
        margin-left: 0px;
    }

    .mobile-title{
        display: block;
    }
    
    .bloque-subtitulo-tu-factoring, .subtitulo_slide_grande{
        display: none;
    }
    /*--- ---*/
    /*--- servicios---*/
    /*.feature .feature-thumb img {
        width: 50% !important;
        height: 180px !important;
        display: flex;
        margin: 0 auto;
    }*/
    .feature-thumb img {
        width: 100% !important;
        height: auto!important;
        display: flex;
        margin: 0 auto;
    }
    /*--- ---*/
    #texto_footer{
        text-align: center;
    }
    .div-contact-names{
        text-align: center; 
    }
    .img-header {
        width: 150px !important;
    }

    #parrafos_clientes3, #parrafos_clientes2, #parrafos_clientes1 {
       padding: 30px;
    }

    .ul-contactos li {
        text-align: center!important;
    }

    .contact-names{
        text-align: center!important;
    }
    
    .ul-contactos {
        width: 100%;
    }
    
    .form-contact{
        text-align: center!important;
    }
    
    .imagen-footer{
        margin: 0px auto;
        display: flex;
    }
    
    #texto{
        text-align: center;
    }
    
    .widget-title{
        text-align: center;
    }
    /*
    .ul-contactos #subtitulo-contacto {
        text-align: left!important;
        margin-left: 15px!important;
    }

    #titulo-contacto{
        text-align: left;
    }*/

    .content_video {
        height: 200px!important;
    }

    .content_video {
        width: 100%;
        height: 550px;
        float: left;
        position: relative;
    }

    .content_iframe_video {
        width: 100%;
        height: 260px!important;
        position: absolute;
        top: 28px;
        background: #000;
    }

    #reproductor{
        height: 350px!important;
    }

    .tituloVideo {
        margin-top: 160px;
        font-size: 15pt;
        font-weight: bold;
        text-align: center;
    }

    #contenedor_vi{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 120px;
    }

    
}

@media(max-width: 768px){
    .login_registrar{
        display: block!important;
    }
    .alert-float {
        position: fixed;
        top: 80px;
        left: 0vh;
        float: right;
        width: 100%;
        z-index: 9999;
        border-radius: 0px;
    }
}

@media(min-width: 768px) and (max-width: 999px){
    .img-header {
        width: 200px !important;
    }

    .separador{
        font-weight:80 ;
        font-size: 120pt;
        margin-left: 30px
    }
    /*
    *   Para el video
    */
    .content_video {
        height: 350px!important;
    }

    .content_video {
        width: 100%;
        height: 350px;
        float: left;
        position: relative;
    }

    .content_iframe_video {
        width: 100%;
        height: 350px!important;
        position: absolute;
        top: 28px;
        background: #000;
    }

    #reproductor{
        height: 450px!important;
    }

    #contenedor_vi {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }
    /***/
}

@media (min-width: 993px) {
    #reproductor{
        height: 600px!important;
    }
    .content_video{
        height:400px;    
    }

}

@media (min-width: 999px) {
    #contenedor_vi {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 200px;
    }
}

@media(max-height: 400px){
    .treeview{
        max-height: 60px;
        overflow-x: hidden;
    }
}    