div#centrador{
				margin: auto;
				margin-top: 60px;
				/*width: 1050px;
				height: 400px;*/
				border: 1px solid white;
				
				
			}
			div#izquierda{
				
				/*width: 350px;
				height: 370px;
				*/
				background-color: #fff;
				height: auto;
				float:left;
				padding-bottom: 35px;
				
				
			}
			div#izquierda:hover{
				-webkit-transform: scale(1.12,1.12);
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-duration: 100ms;
				-moz-transform: scale(1.12,1.12);
				-moz-transition-timing-function: ease-out;
				-moz-transition-duration: 100ms;
				/*-webkit-box-shadow: 8px 8px 10px 0px black;*/
				background-color: #f9f9f9;	
				z-index: 9999999;
				-webkit-box-shadow: 0 1px 3px rgba(33,33,33,.2);
				-moz-box-shadow: 0 1px 3px rgba(33,33,33,.2);
				-o-box-shadow: 0 1px 3px rgba(33,33,33,.2);
				-ms-box-shadow: 0 1px 3px rgba(33,33,33,.2);			
			}
			
			div#centro{
				
				/*width: 350px;
				height: 370px;
				*/
				background-color: #fff;
				height: auto;
				float:left;
				padding-bottom: 35px;
			}
			div#centro:hover{
				-webkit-transform: scale(1.12,1.12);
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-duration: 100ms;
				-moz-transform: scale(1.12,1.12);
				-moz-transition-timing-function: ease-out;
				-moz-transition-duration: 100ms;
				background-color: #f9f9f9;	
				z-index: 9999999;						
			}
			div#derecha{
				
				/*width: 350px;
				height: 370px;
				*/
				background-color: #fff;
				height: auto;
				float:left;
				padding-bottom: 35px;
			}
			div#derecha:hover{
				-webkit-transform: scale(1.12,1.12);
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-duration: 100ms;
				-moz-transform: scale(1.12,1.12);
				-moz-transition-timing-function: ease-out;
				-moz-transition-duration: 100ms;
				background-color: #f9f9f9;
				z-index: 9999999;		
			}
			
			
